<link rel="stylesheet" href="/components/pagesStyle/dashboard.css" />
<style>
#bill {
  width:100%;
  /*height:200px;*/
  height:0px;
  background:#595959;
  z-index:20000;
  color:white !important;

  -webkit-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.73);
  -moz-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.73);
  box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.73);

}

#dash-weight {
  position: fixed;
  z-index:20002;
  height: 30%;
  width:100%;
  bottom:0px;
}

#buy_panel {
  width: 100%;
  height: 0;
  z-index:25000;
  background: white !important;
  position: fixed;
  
  --webkit-opacity:.9;
  opacity: .9;
  bottom:0px;
  left:0px;
  -webkit-box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
  box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
}

#option_panel {
  width: 100%;
  height: 0;
  z-index:20001;
  background: white !important;
  position: fixed;
  --webkit-opacity:.9;
  opacity: .9;
  bottom:0px;
  
  -webkit-box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
  box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
}

#option_panel h4 {
  color: grey !important;
  text-align: center;
}

#calcular-icon {
  /*background: url('/components/pagesStyle/img/calcular.svg');*/
}

.shop_item_btn {
  background: #F0F0F0 !important;
  color: grey !important;
  border-radius: 8px;
  border: 1px solid #F0F0F0;
  font-weight: bold;
  padding-left:2px;
  text-align:center;
}

.YM_Bill {
  color: white !important;
  margin-left:5%;
  font-size: large;
  font-weight: bold;
}

</style>

<super-navbar>
<super-navbar-title>
<i class="icon ion-ios-cloud-outline"></i>你好雨蒙
</super-navbar-title>

<super-navbar-button side="right"> <i class="icon ion-ios-cloud-outline"></i></super-navbar-button>
</super-navbar>

<div class="container" ng-controller="DashboardController" style="position:relative;">
  <div>
    <div class="left dashboard-famliy-icon" id="dashboard-family" ng-click="goToFamily()">
      <i class="icon ion-ios-people">&nbsp;&nbsp;&nbsp;</i> 
    </div>
    
    <div class="right" id="dashboard-recommend" ng-click="goToRecomment()">
      <img ng-src="/components/pagesStyle/img/forks.svg" />
    </div>
  </div>
  <div class="clearfix"></div>
  <br>

  <div class="dashboard-avatar-img">
    <img ng-src="/components/pagesStyle/img/test.svg" />
  </div>

  <!-- sd http://localhost/app/example/dashboard.html -->
  
  <div class="mt10"></div>
  <div class="dashboard-middle-selector">
    <!-- <span><img ng-src="/components/pagesStyle/img/charts.svg" /></span> -->
    <span><img ng-src="/components/pagesStyle/img/shop-var.svg" /></span>
    <span><img ng-src="/components/pagesStyle/img/shop-fruit.svg" /></span>
    <span ng-click="checkOut()"><img style="width:15% !important;" ng-src="/components/pagesStyle/img/cart.svg" /></span>
    <span><img ng-src="/components/pagesStyle/img/shop-meat.svg" /></span>
    <span><img ng-src="/components/pagesStyle/img/shop-wine.svg" /></span>
    <!-- <span ng-click="openIceBox()"><img ng-src="/components/pagesStyle/img/icebox.svg" /></span> -->
    <!-- <span ng-click="checkOut()"><img ng-src="/components/pagesStyle/img/cart.svg" /></span> -->
  </div>

  <div id="bill">
    <div ng-show="uiBillShow">
      <div class="YM_Bill">dfjefjeflekfjeifj</div>
      <div class="YM_Bill">dfjefjeflekfjeifj</div>
      <div class="YM_Bill">dfjefjeflekfjeifj</div>
      <div class="YM_Bill">dfjefjeflekfjeifj</div>
    </div>
  </div>

<!--   <button ng-click="optionPanel()">open</button>
  <button ng-click="switchBottomPanel()">switch</button>
  <button ng-click="imgClick()">imgclick</button>
 -->
  
  <div class="shop_box">
    <div class="shop_box_top"></div>
<!--     <div class="shop_body">
      <div class="row">
        <div class="col ">hello</div>
        <div class="col">world</div>
      </div>
      <div class="shop_sep"></div>
      <div class="row">
        <div class="col">hello</div>
        <div class="col">world</div>
      </div>
    </div>
 -->
    <br>
    <div class="ui page grid fuckyou">
      <div class="eight wide column shop-item-shadow" style="padding:0;" ng-repeat="item in curItems">
        <div ng-click="imgClick()" class="" style="width:100%;">
          <div class="row">
            <div class="col col-50">
              <img style="width:100%;" ng-src="{{item.imgsrc}}"/>
            </div>
            <div class="col col-50">
              {{item.name}}
            </div>

          </div>
          <!-- <button  class="">{{item.name}}</button> -->

        </div>
      </div>
    </div>

  </div>



  <!-- <div class="shop-box">
    <div class="swipegory">
      <nav>
        <ul>
          <li><a href="#item1">###蔬菜####</a></li>
          <li><a href="#item2">水果#######</a></li>
          <li><a href="#item3">肉类</a></li>
          <li><a href="#item4">饮料</a></li>
        </ul>
      </nav>

      <ul class="panes">
        
        <br>
        <div class="ui page grid fuckyou">
          <div class="four wide column" ng-repeat="item in curItems">
            <div ng-click="imgClick()" class="shop_item" style="width:100%;">
              <img style="width:100%;" ng-src="{{item.imgsrc}}"/>
              <button  class="shop_item shop_item_btn">{{item.name}}</button>
            </div>
          </div>
        </div>
    
        <li style="height:300px;background-color:white;"></li>
        <li style="height:300px;"></li>
        <li style="height:300px;"></li>
        <li style="height:300px;"></li>
      </ul>
    </div>
  </div> -->

  <div id="option_panel">
    <div class="row">
      <div class="col col-50" style="border-right: 1px dashed grey;">
        <h4><i class="icon ion-fork"></i>查菜谱</h4>
        <div id="recipeQuery" style="width:70%;margin-left:18%;" ng-click="recipeQuery()">
          <img ng-src="/components/pagesStyle/img/recipe.svg" />
        </div>
      </div>
      
      <div class="col col-50">
        <h4><i class="icon ion-ios-book-outline"></i>记个账</h4>
        <div id="calcular-icon" ng-click="calculateQuery()" style="width:58%;margin-left:22%;">
          <img ng-src="/components/pagesStyle/img/calcular.svg" />
        </div>
      </div>
    </div>

    <div id="buy_panel" >
      <div class="row">
        <div class="col col-50" style="border-right: 1px dashed grey;">
          <h4><i class="icon ion-fork"></i>有多重</h4>

        </div>
      
        <div class="col col-50">
          <h4><i class="icon ion-ios-book-outline"></i>多少钱</h4>

        </div>
      </div>
    </div>
  </div> <!--option_panel-->

  <div id="mailMan"></div>

</div><!-- /container -->


<script>

/*
//swipers :js, for me it's durty code
var autoAdjustHeight = false;
$('nav a').on('mousedown', function(e){
  e.preventDefault();
  var goTo = $(this).parent().index();  
  swipegoryUpdate(goTo);
});

$("ul.panes").swipe({
  swipeStatus:function(event, phase, direction, distance, duration, fingerCount) {    
    var translateString = 'translate3d(0px, 0px, 0px)';
    var transitionDuration = $('nav li.cur').css('transitionDuration');
    var speed = transitionDuration;    
    
    if(phase == 'move') {
      speed = '0ms';      
      if(direction == 'left') {
        translateString = 'translate3d(-' + distance + 'px, 0px, 0px)';
        $('.panes li.cur').css('marginLeft', '-'+ distance +'px');
      }
      else if(direction == 'right') {
        translateString = 'translate3d(' + distance + 'px, 0px, 0px)';
        $('.panes li.cur').css('marginLeft', distance +'px');
      }
      $('nav li.cur').css({ 
        transitionDuration: speed,
        transform: translateString
      });
      
    }
    else if (phase == 'end') {
      // reset transform3D    
      var marginLeft = $('nav li.cur').css('marginLeft');
      $('nav li.cur').attr('style', '').css('marginLeft', marginLeft);
      $('.panes li.cur').attr('style', '');
    }
  },
  swipeLeft:function(event, direction, distance, duration, fingerCount) {
    //This only fires when the user swipes left
    var goTo = $('nav li.cur').index();
    goTo++;
    swipegoryUpdate(goTo); 
    console.log("swipeLeft: ", goTo);
    $("#mailMan").trigger("dashboard:swiper:goto", goTo)
  },
  swipeRight:function(event, direction, distance, duration, fingerCount) {
    //This only fires when the user swipes left
    var goTo = $('nav li.cur').index();
    goTo--;
    swipegoryUpdate(goTo); 
    console.log("swipeRight: ", goTo);
    $("#mailMan").trigger("dashboard:swiper:goto", [goTo])
  
  },
  // threshold: 50,
  threshold: 20,
  triggerOnTouchEnd: false,
  allowPageScroll: "vertical",
  excludedElements: "button, input, select, textarea, .noSwipe"
});


$(window).load(function() {
  swipegoryUpdate(0);
});

function swipegoryUpdate(goTo) {
  var listItems = $('nav li');
  var panes = $('.panes');
  var prev = goTo - 1;
  var next = goTo + 1;  
  if(goTo >= 0 && goTo < listItems.length) {   
    listItems.removeClass('prev').removeClass('cur').removeClass('next').removeClass('before').removeClass('after');
    $('li', panes).removeClass('prev').removeClass('cur').removeClass('next').removeClass('before').removeClass('after');

    listItems.each(function(i) {
      var li = $(this);
      var pane = $('li:eq('+i+')', panes);
      
      li.attr('style', '');

      if(i == prev) {
        li.addClass('prev');
        li.css('margin-left', '0');      
        pane.addClass('prev');
      }
      else if(i == next) {
        li.addClass('next');
        li.css('margin-left', '-' + li.outerWidth() + 'px');
        pane.addClass('next');
      }
      else if(i < goTo) {
        li.addClass('before');
        li.css('margin-left', '-' + li.outerWidth() + 'px');
        pane.addClass('before');
      }
      else if(i == goTo) {
        li.addClass('cur');
        var marginLeft = li.outerWidth() / 2;
        
        li.css('margin-left', '-' + marginLeft + 'px');
        pane.addClass('cur');

        if(autoAdjustHeight == true) {
          $('.swipegory').css('height', pane.outerHeight() + li.outerHeight());
        }

      }
      else if(i > goTo) {
        li.addClass('after');
        li.css('margin-left', '0');
        pane.addClass('after');
      }
    });    
  }
}
*/

</script>

