<link rel="stylesheet" href="/components/powerange/dist/powerange.css" />
<script src="/components/powerange/dist/powerange.min.js"></script>
<link rel="stylesheet" href="/components/odometer/odometer-theme-default.css" />
<script src="/components/odometer/odometer.min.js"></script>


<style>
	.weight-font {
		text-align: center;
		font-size: xx-large;
		background: rgb(152, 222, 247);
		color:white;
	}

	.birthday-title{
		text-align: center;
		background: rgb(129, 203, 70);
		color:white;
	}

	.height-font {
		text-align: center;
		font-size: xx-large;
		background: rgb(239, 205, 143);
		color:white;
	}

</style>


<div ng-controller="FamilyController">

	<div class="row">
		<div class="col col-30 weight-font odometer">75</div>
		<div class="col col-30 birthday-title">生日</div>
		<div class="col col-30 height-font odometer">172</div>
	</div>

	<br>
	<br>
	
	<div class="row row-center">
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">
				<div class="slider-wrapper vertical-wrapper" style="height:200px;">
					<input type="text" class="height-selector" />
					<!-- <h3>height is: <span id="show_weight"></span>cm</h3> -->
				</div>
		</div>
	</div>

	<br>
	<br>
	<div class="ui buttons">
		<div class="ui button" ng-click="hideModal()">Cancel</div>
		<div class="or"></div>
		<div class="ui positive button">Save</div>
	</div>

	<hr>
	
	<div class="slider-wrapper" style="width:80%;margin-left:10%;">
		<input type="text" class="weight-selector" />
		
		<h3>weight is: <span id="show_weight"></span>kg</h3>

	</div>

</div>

<script>

	window.odometerOptions = {
		format: '(ddd).dd',
		duration: 500,
		theme: "default"
	};

	var weight_elem = document.querySelector('.weight-selector');
	var weight_range = new Powerange(weight_elem, { 
		min: 16, max: 120, start: 60, 
		callback:weightChange });

	function weightChange() {
		console.log("weightChange: ", weight_elem.value)
		document.getElementById("show_weight").innerHTML = weight_elem.value;

		setTimeout(function(){
			$(".weight-font").html(weight_elem.value);
		},200)
	}

	var height_elem = document.querySelector('.height-selector');
	var height_range = new Powerange(height_elem, {  
		vertical: true, 
		min:80, max:200, start: 160, 
		callback:heightChange });

	function heightChange() {
		console.log("weightChange: ", height_elem.value)
		// document.getElementById("show_weight").innerHTML = weight_elem.value;

		setTimeout(function(){
			$(".height-font").html(height_elem.value);
		},200)
	}




</script>









