<link rel="stylesheet" href="/components/powerange/dist/powerange.css" />
<script src="/components/powerange/dist/powerange.min.js"></script>
<link rel="stylesheet" href="/components/odometer/themes/odometer-theme-default.css" />
<script src="/components/odometer/odometer.min.js"></script>

<style>
	body {
		/*background: rgb(246, 240, 224) !important;*/
		background: white !important;
	}

	.weight-font {
		text-align: center;
		font-size: xx-large;
		background: rgb(152, 222, 247);
		color:white;
	}

	.birthday-title{
		text-align: center;
		background: rgb(129, 203, 70);
		color:white;
	}

	.height-font {
		text-align: center;
		font-size: xx-large;
		background: rgb(239, 205, 143);
		color:white;
	}

	.famliy-avatar {
		/*width:100% !important; */
		background-color:rgb(247, 232, 188);
		border-radius:50%;
		padding:8px;
		/*padding-bottom:0px;*/
	}

	/*.btn-group */
	.btngroup {
		font-size: 0;
		line-height: 1;
		white-space: nowrap;
		display: inline;
	}
	.btngroup--btn {
		color:grey;
		font-size: 1rem;
		letter-spacing: .1em;
		background: transparent;
		border: 1px solid #7f8c8d;
		border-left-width: 0;
		display: inline-block;
		/*padding: .2em 1.25em;*/
		padding: .2em 1em;
	}
	.btngroup--btn:first-child {
		border-left-width: 2px;
		border-radius: 2em 0 0 2em;
	}
	.btngroup--btn:last-child {
		border-radius: 0 2em 2em 0;
	}

	.unit_font {
		color: rgb(194, 157, 62);
		font-size:medium;
		padding-left:3px;
	}

	.body_thumb_left {
		font-weight:bold;color:white;background-color:tomato;border-radius:6px;margin-left:30%;text-align:center;
	}

	.body_thumb_right {
		font-weight:bold;color:white;background-color:rgb(241, 181, 75);border-radius:6px;margin-right:30%;text-align:center;
	}

	#body_config_panel {
		width: 100%;
		height: 0px;
		z-index:20001;
		background: white !important;
		position: fixed;
		--webkit-opacity:.9;
		opacity: .9;
		bottom:0px;
  
		-webkit-box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
		-moz-box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
		box-shadow: 0px -2px 30px -8px rgba(0,0,0,0.59);
	}

	.ill_selector {
		margin-left:3%;
		margin-left:5%;
		color:white;
		font-weight:bold;
		padding-left:5px;
		border-radius: 6px;
		margin-bottom:5px;
		padding-top:3px;
		padding-bottom:3px;
	}

	.ill_selector.level_1 {
		background: #EAB200 !important;
	}
	.ill_selector.level_2 {
		background: #EA8500 !important;
	}
	.ill_selector.level_3 {
		background: #EA7C00 !important;
	}
	.ill_selector.level_4 {
		background: #EA6B00 !important;
	}
	.ill_selector.level_5 {
		background: #EA3E00 !important;
	}
	.ill_selector.level_6 {
		background: #EA7C00 !important;
	}
	.ill_selector.level_7 {
		background: tomato !important;
	}
	.ill_selector.level_8 {
		background: #EAB200 !important;
	}


</style>


<div ng-controller="FamilyController">

<super-navbar>
<super-navbar-title>
<i class="icon ion-ios-cloud-outline"></i>家庭成员
</super-navbar-title>

<super-navbar-button side="right"> <i class="icon ion-ios-cloud-outline"></i></super-navbar-button>
</super-navbar>


	<div class="row" style="border-bottom:1px solid grey;">
		<div class="col col-33">
			<div class="famliy-avatar">
				<img  style="width:100%;" ng-src="/components/pagesStyle/img/famliy/father.svg" />
				
				<!-- wori -->
				<!-- <button  class="shop_item shop_item_btn">{{item.name}}</button> -->
			</div>

		</div>
		
		<div class="col">
			<div style="text-align:center;">选择饮食模式</div>
			<div style="margin-left:5%;margin-top:5px;margin-bottom:2px;">
				<span class="btngroup">
					<button class="btngroup--btn">减肥</button>
					<button class="btngroup--btn">成长</button>
					<button class="btngroup--btn">养生</button>
				</span>
			</div>

			<!-- sd http://localhost/app/example/family-config.html -->
			<!-- <div style="text-align:center; border-bottom:1px solid grey;"> -->
			<div style="text-align:center;">
				<div class="row" ng-click="toggleBodyPanel()">
					<div class="col" style="text-align:right;">
						<span><span style="font-size:large;color:grey;">74</span><span class="unit_font">kg</span></span>
						<div class="body_thumb_left">高血压</div>
					</div>
					
					<div class="col col-20">
						<!-- <span> -->
							<img style="width:100%;height:45px;" ng-src="/components/pagesStyle/img/famliy/father-all.svg" />
						<!-- </span> -->
					</div>

					<div class="col" style="text-align:left;">
						<span><span style="font-size:large;color:grey;">172</span><span class="unit_font">cm</span></span>
						<div class="body_thumb_right">胃痛</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div id="body_config_panel">
		<div>
			<span ng-click="toggleBodyPanel()" class="right x-large positive"><i class="icon ion-ios-close-outline"></i></span>
		</div>

		<div class="row">
			<div class="col col-30">
				<div class="ill_selector level_1">感冒</div>
				<div class="ill_selector level_2">恶心呕吐</div>
				<div class="ill_selector level_3">白内障<span class="right"><i class="icon ion-android-done"></i></span></div>
				<div class="ill_selector level_4">支气管炎</div>
				<div class="ill_selector level_5">高血压</div>
				<div class="ill_selector level_6">糖尿病</div>
				<div class="ill_selector level_7">胃病</div>
				<div class="ill_selector level_8">乳腺癌</div>
			</div>

			<div class="col col-30">
				<!-- <span><img style="width:100%;height:100%" ng-src="/components/pagesStyle/img/famliy/father-all.svg" /></span> -->
				<img style="width:100%;height:220px;" ng-src="/components/pagesStyle/img/famliy/father-all.svg" />
			</div>

			<div class="col col-10">
				<div class="slider-wrapper vertical-wrapper" style="height:200px;">
					<input type="text" class="height-selector" />
				</div>
				<!-- <img style="width:100%;height:200px;" ng-src="/components/pagesStyle/img/ruler.png" /> -->
			</div>
			<!-- 身高选择 -->
			<div class="col col-10">
				<img style="width:100%;" ng-src="/components/pagesStyle/img/ruler.png" />
			</div>

		</div>
		
		<div class="row">
			<div class="col">
				<div class="slider-wrapper" style="width:80%;margin-left:10%;margin-bottom:5px;">
					<input type="text" class="weight-selector" />
					<h3>weight is: <span id="show_weight"></span>kg</h3>
				</div>
				<h5 style="color:grey;">还有体重哦</h5>

			</div><!--col-->
		</div><!--row-->

	</div>

<script>

	window.odometerOptions = {
		format: '(ddd).dd',
		duration: 500,
		theme: "default"
	};

	var weight_elem = document.querySelector('.weight-selector');
	var weight_range = new Powerange(weight_elem, { 
		min: 16, max: 120, start: 60, 
		callback:weightChange });

	function weightChange() {
		console.log("weightChange: ", weight_elem.value)
		document.getElementById("show_weight").innerHTML = weight_elem.value;

		setTimeout(function(){
			$(".weight-font").html(weight_elem.value);
		},200)
	}

	var height_elem = document.querySelector('.height-selector');
	var height_range = new Powerange(height_elem, {  
		vertical: true, 
		min:80, max:200, start: 160, 
		callback:heightChange });

	function heightChange() {
		console.log("weightChange: ", height_elem.value)
		// document.getElementById("show_weight").innerHTML = weight_elem.value;

		setTimeout(function(){
			$(".height-font").html(height_elem.value);
		},200)
	}




</script>









