<super-navbar>
  <super-navbar-title>
  <i class="icon ion-ios-cloud-outline"></i>你好雨蒙
  </super-navbar-title>

  <super-navbar-button side="right"> <i class="icon ion-ios-cloud-outline"></i></super-navbar-button>
</super-navbar>

<div class="container" ng-controller="UITestController">
  <div>
    <span class="left"><i class="icon ion-ios-cloud-outline"></i>你好</span>
    <span class="right"><i class="icon ion-ios-cloud-outline"></i>雨蒙</span>
  </div>
  <div class="clearfix"></div>

  <div style="margin-left:auto;margin-right:auto;">-</div>

  <div class="dashboard-avatar-img">
    <img ng-src="/components/pagesStyle/img/test.svg" />
  </div>

  <h4>hello?</h5>

</div><!-- /container -->

<script>
  // $(document).ready(function(){
    
  //   (function() {
  //     var formWrap = document.getElementById( 'fs-form-wrap' );
      
  //     [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
  //       new SelectFx( el, {
  //         stickyPlaceholder: false,
  //         onChange: function(val){
  //           document.querySelector('span.cs-placeholder').style.backgroundColor = val;
  //         }
  //       });
  //     } );

  //     new FForm( formWrap, {
  //       onReview : function() {
  //           classie.add( document.body, 'overview' ); // for demo purposes only
  //         }
  //       } );
  //   })();
  // })

</script>

