<div class="padding">

  <super-navbar>
  <super-navbar-title>
  Welcome to Supersonic!
</super-navbar-title>
</super-navbar>

<p>Awesome! This file is located at <strong>app/example/views/getting-started.html</strong> &mdash; open it, change some text and save the file. The changes are updated to all connected devices. Cool, huh?</p>

<p>Below, you can see our multi-page navigation in action. Tap on a button to move to a new view.</p>

<super-navigate view-id="using-the-scanner">
<button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
</super-navigate>

<super-navigate view-id="learn-more">
<button class="button button-block button-positive icon-left super-university">Learn more</button>
</super-navigate>

<h3>YM-ui test</h3>

<div class="ui tiny progress success">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Everything worked, your file is all ready.</div>
</div>

<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/christian.jpg">
    </a>
    <div class="content">
      <a class="author">Christian Rocha</a>
      <div class="metadata">
        <span class="date">2 days ago</span>
      </div>
      <div class="text">
        I'm very interested in this motherboard. Do you know if it'd work in a Intel LGA775 CPU socket?
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="collapsed comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/demo/avatar2.jpg">
        </a>
        <div class="content">
          <a class="author">Pawfin Dog</a>
          <div class="metadata">
            <span class="date">1 day ago</span>
          </div>
          <div class="text">
            I think this is a great idea and i am voting on it
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
        <div class="comments">
          <div class="comment">
            <a class="avatar">
              <img src="/images/demo/avatar.jpg">
            </a>
            <div class="content">
              <a class="author">Dog Doggington</a>
              <div class="metadata">
                <span class="date">20 minutes ago</span>
              </div>
              <div class="text">
                I think this is a great idea and i am voting on it
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="ui piled segment">
  <h4 class="ui header">A header</h4>
  <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
   <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
   <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
</div>
<div class="ui blue segment">
  Blue
</div>
<div class="ui orange segment">
  Orange
</div>
<div class="ui green segment">
  Green
</div>
<div class="ui red segment">
  Red
</div>
<div class="ui purple segment">
  Purple
</div>
<div class="ui teal segment">
  Teal
</div>

<div class="ui blue inverted segment">
  Blue
</div>
<div class="ui orange inverted segment">
  Orange
</div>
<div class="ui green inverted segment">
  Green
</div>
<div class="ui red inverted segment">
  Red
</div>
<div class="ui purple inverted segment">
  Purple
</div>
<div class="ui teal inverted segment">
  Teal
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>

  // $("#testme").click(function(){

    $('.dropdown').dropdown({
      transition: 'drop'
    });

  // })

jQuery('.test.checkbox').checkbox('attach events', '.toggle.button');
jQuery('.test.checkbox').checkbox('attach events', '.check.button', 'check');
jQuery('.test.checkbox').checkbox('attach events', '.uncheck.button', 'uncheck');

</script>

