<div class="padding" ng-controller="UITestController">

  <super-navbar>
  <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
</super-navbar>

<style>
  body{
    background: #F5F5F5 !important;
  }

.wrapper {
  width: 320px; /* arbitary for demo only */
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.internal {
  display: inline;
}
p{
  color:grey;
}

</style>

<!-- <div style="overflow-x: scroll;overflow-y:hidden;"> -->
<div class="wrapper">
    <!-- <a href="" class="internal">item 1</a> -->
    <a href="" class="internal">item 2</a>
    <a href="" class="internal">item 3</a>
    <a href="" class="internal">item 4</a>
    <a href="" class="internal">item 5</a>
    <a href="" class="internal">item 1</a>
    <a href="" class="internal">item 2</a>
    <a href="" class="internal">item 3</a>
    <a href="" class="internal">item 4</a>
    <a href="" class="internal">item 5</a>

</div>



<div>  
  <div class="ui piled segment">
    <h2>标题头</h2>
    <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
  </div>

  <div class="ui piled segment">
    <h2>标题头</h2>
    <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
  </div>

  <div class="ui piled segment">
    <h2>标题头</h2>
    <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
  </div>

</div>




</div>




